{% load static %}
<head><link rel="stylesheet" href="{% static 'css/home.css' %}"></head>


<div class="nav_new">
    <div class="nav_item">
        <h2>Bem-vindo, {{ user.username }} </h2>
    </div>
    <div class="nav_item">
        <h2><a href="{% url 'logout' %}">Logout</a></h2>
    </div>
</div>
<div class="saldo_atual">
    <h2>Saldo Atual:</h2>
    <h3> R$ {{ saldo_atual }}</h3>
    <div class="rec_dsp">
        <div class="card">
            <h3>Receitas do Mês: R$ {{ receitas_mes }}</h3>
        </div>
        <div class="card">
            <h3>Despesas do Mês: R$ {{ despesas_mes }}</h3>
        </div>
    </div>
</div>

<div class="contas-section">
    <h3>Contas</h3>
    <ul class="contas-list">
        {% for conta in contas %}
            <li class="conta-item">
                <div class="conta-info">
                    <span class="conta-nome">{{ conta.nome }}</span>
                    <span class="conta-tipo">{{ conta.get_tipo_display }}</span>
                    <span class="conta-saldo">Saldo: R$ {{ conta.saldo }}</span>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<div><h3>Transações:</h3>
<table>
    <thead>
        <tr>
            <th>Data</th>
            <th>Tipo</th>
            <th>Categoria</th>
            <th>Valor</th>
            <th>Conta</th>
            <th>Ações</th> <!-- Nova coluna para ações -->
        </tr>
    </thead>
    <tbody>
        {% for transacao in transacoes %}
            <tr>
                <td>{{ transacao.data|date:"d/M/y" }}</td>
                <td>{{ transacao.tipo }}</td>
                <td>{{ transacao.categoria.nome }}</td>
                <td>R$ {{ transacao.valor }}</td>
                <td>{{ transacao.conta.nome }}</td>
                <td>
                    <!-- Botão para excluir transação -->
                    <form action="{% url 'home' %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <input type="hidden" name="excluir_transacao_id" value="{{ transacao.id }}">
                        <button type="submit" class="btn btn-danger">APAGAR</button>
                    </form>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">Nenhuma transação cadastrada.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<div>
<a href="{% url 'cadastrar_conta' %}">Cadastrar Conta</a>
<a href="{% url 'registrar_transacao' %}">Registrar Transação</a>
<a href="{% url 'cadastrar_categoria' %}" class="btn btn-primary">Cadastrar Categoria</a>
<a href="{% url 'logout' %}">Logout</a>

</div>
